<section>
  <div class="heroContainer">
    <div class="heroImageContainer">
      <img
        class="portraitBackground portraitBackground--default"
        src="assets/backgrounds/bg_shape_default.png"
        alt="Background shape"
      />
      <img
        class="portraitBackground portraitBackground--hover"
        src="assets/backgrounds/bg_shape_hover.png"
        alt="Background shape hover"
      />
      <img class="portraitImage" src="assets/foto.png" alt="">
    </div>
    <div class="heroIntroContainer">
      <div class="heroIntroFirstRow">
        <div class="heroFreeSpace"></div>
        <div class="heroLogo">
          <div class="imgContainer">
            <img src="assets/icons/logo_vector.svg" alt="" />
            <div class="curly_braces_logo">
              <img src="assets/icons/left_curly_brace.svg" alt="" />
              <img src="assets/icons/right_curly_brace.svg" alt="" />
            </div>
          </div>
          <h4 class="fontAnta">M.Sörensen</h4>
          <h5 class="fontJosefin">developer</h5>
        </div>
        <div class="heroSocials">
          <img class="socialIcon mail" src="assets/icons/social/mail_default.png" alt="" />
          <img class="socialIcon github" src="assets/icons/social/github_default.png" alt="" />
          <img class="socialIcon linkedin" src="assets/icons/social/linkedin_default.png" alt="" />
        </div>
      </div>
      <h1 class="fontAnta">Marcel Sörensen</h1>
      <h2 class="fontJosefin">FRONTEND DEVELOPER</h2>
      <div class="arrowDown" aria-label="Scroll down">
        <img
          class="arrowDown__img arrowDown__img--default"
          src="assets/icons/actions/arrow_down.png"
          alt="Arrow down"
        />
        <img
          class="arrowDown__img arrowDown__img--hover"
          src="assets/icons/actions/arrow_down_hover.png"
          alt="Arrow down hover"
        />
      </div>
    </div>
  </div>
        <app-navbar></app-navbar>
</section>
