<section id="topSection">
  <div class="hero-container">
    <div class="hero-portrait-container">
      <img
        class="portrait-background portrait-background--default"
        src="assets/backgrounds/bg_shape_default.svg"
        alt="Background shape"
      />
      <img
        class="portrait-background portrait-background--hover"
        src="assets/backgrounds/bg_shape_hover.svg"
        alt="Background shape hover"
      />
      <img class="portrait-image" src="assets/foto.webp" alt="" />
      <img class="portrait-image-mobile" src="assets/foto_mobile.webp" alt="" />
    </div>
    <div class="hero-intro-container">
      <div class="hero-intro-first-row">
        <div class="hero-free-space"></div>
        <div class="hero-logo">
          <app-profile-logo
            [logoSrc]="'assets/icons/logo_vector.svg'"
            [light]="true"
          ></app-profile-logo>
        </div>
        <div class="social social--landingpage">
          <a class="social__item social__item--mail" href="#contactSection">
            <img
              class="social__img social__img--default"
              src="assets/icons/social/mail_default.svg"
              alt="Mail"
            />
            <img
              class="social__img social__img--hover"
              src="assets/icons/social/mail_hover_blue.svg"
              alt="Mail Hover"
            />
          </a>
          <a
            class="social__item social__item--github"
            href="https://github.com/MarcelSoerensen/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="social__img social__img--default"
              src="assets/icons/social/github_default.svg"
              alt="GitHub"
            />
            <img
              class="social__img social__img--hover"
              src="assets/icons/social/github_hover_blue.svg"
              alt="GitHub Hover"
            />
          </a>
          <a
            class="social__item social__item--linkedin"
            href="https://www.linkedin.com/in/marcel-s%C3%B6rensen-08b31836b/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <img
              class="social__img social__img--default"
              src="assets/icons/social/linkedin_default.svg"
              alt="LinkedIn"
            />
            <img
              class="social__img social__img--hover"
              src="assets/icons/social/linkedin_hover_blue.svg"
              alt="LinkedIn Hover"
            />
          </a>
        </div>
      </div>
      <div>
        <h1 class="font-anta">Marcel Sörensen</h1>
        <h2 class="font-josefin">FRONTEND DEVELOPER</h2>
      </div>
      <a class="arrow arrow--down" aria-label="Scroll down" href="#whyMeSection">
        <img
          class="arrow__img arrow__img--down"
          src="assets/icons/actions/arrow_down.svg"
          alt="Arrow down"
        />
      </a>
    </div>
  </div>
</section>
