section {
  display: block;
  position: relative;
  height: calc(100vh - 104px);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(40, 46, 51, 1);
}

h2,
h4,
h5 {
  color: rgba(248, 245, 237, 1);
  margin: 0;
  cursor: default;
  white-space: nowrap;
}

.hero-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: clamp(8px, 4vw, 60px);
  height: auto;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-image-container {
  margin-top: clamp(160px, 8vw, 120px);
  margin-left: 6%;
  position: relative;
  width: clamp(240px, 60vw, 580px);
  max-width: 580px;
  display: flex;
  align-items: flex-end;

  .portrait-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    display: block;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: all 300ms ease-in-out;
  }

  .portrait-background--default {
    opacity: 1;
    z-index: 1;
  }

  .portrait-background--hover {
    opacity: 0;
    z-index: 2;
  }

  &:hover {
    .portrait-background--default {
      opacity: 0;
    }

    .portrait-background--hover {
      opacity: 1;
    }
  }
}

.portrait-image {
  width: 95%;
  height: auto;
  display: block;
  z-index: 3;
  position: relative;
  top: -80px;
  filter: brightness(1.2);
  filter: drop-shadow(8px 32px 16px rgba(40, 46, 51, 0.5));
}

.hero-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 6%;
  > h1 {
    margin-top: 2rem;
    font-weight: 400;
    font-size: clamp(2.2rem, 6vw, 5.5rem);
  }
  > h2 {
    font-weight: 300;
    font-size: clamp(1.2rem, 3vw, 2.5rem);
  }
}

.hero-intro-first-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .hero-free-space {
    width: 30px;
  }
  .hero-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;

    .img-container {
      position: relative;
      display: inline-block;
      > img {
        position: relative;
        z-index: 1;
        height: 38px;
        width: 58px;
        object-fit: contain;
        transition: transform 200ms ease-in-out;
        &:hover {
          transform: scaleX(1.2);
        }
      }

      .curly-braces-logo {
        position: absolute;
        top: -2px;
        bottom: 0;
        left: 50%;
        width: 60%;
        transform: translateX(-50%);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
      }
    }

    > h4 {
      font-weight: smaller;
      font-size: 1.15em;
      scale: scaleY(2);
    }
    > h5 {
      font-weight: 100;
      font-size: 1.2em;
      color: rgba(148, 187, 214, 1);
    }
  }
  .hero-socials {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(8px, 1vw, 20px);
  }
}

.social-icon {
  position: relative;
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;

  > .social-icon-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 125ms ease;
    display: block;
  }

  > .social-icon-img--default {
    opacity: 1;
  }

  > .social-icon-img--hover {
    opacity: 0;
  }

  &:hover {
    .social-icon-img--default {
      opacity: 0;
    }

    > .social-icon-img--hover {
      opacity: 1;
    }
  }

  &:active {
    .social-icon-img--default {
      opacity: 1;
    }

    > .social-icon-img--hover {
      opacity: 0;
    }
  }
}

.arrow-down {
    margin-top: clamp(0px, 12vw, 200px);
    bottom: 5vw;
    position: relative;
    width: clamp(24px, 3.5vw, 38px);
    height: clamp(40px, 10vw, 89px);
    cursor: pointer;

    >.arrow-down-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: opacity 150ms ease-in-out;
    }

    >.arrow-down-img--default {
      opacity: 1;
    }

    > .arrow-down-img--hover {
      opacity: 0;
    }

    &:hover {
      .arrow-down-img--default {
        opacity: 0;
      }

      .arrow-down-img--hover {
        opacity: 1;
      }
    }
    
    &:active {
      .arrow-down-img--default {
        opacity: 1;
      }

      .arrow-down-img--hover {
        opacity: 0;
      }
    }
  }
