<section id="topSection">
  <div class="hero-container">
    <div class="hero-image-container">
      <img
        class="portrait-background portrait-background--default"
        src="assets/backgrounds/bg_shape_default.png"
        alt="Background shape"
      />
      <img
        class="portrait-background portrait-background--hover"
        src="assets/backgrounds/bg_shape_hover.png"
        alt="Background shape hover"
      />
      <img class="portrait-image" src="assets/foto.png" alt="" />
    </div>
    <div class="hero-intro-container">
      <div class="hero-intro-first-row">
        <div class="hero-free-space"></div>
        <div class="hero-logo">
          <div class="img-container">
            <img src="assets/icons/logo_vector.svg" alt="" />
            <div class="curly-braces-logo">
              <img src="assets/icons/left_curly_brace.svg" alt="" />
              <img src="assets/icons/right_curly_brace.svg" alt="" />
            </div>
          </div>
          <h4 class="font-anta">M.Sörensen</h4>
          <h5 class="font-josefin">developer</h5>
        </div>
        <div class="hero-socials">
          <a class="social-icon mail" href="#contactSection">
            <img
              class="social-icon-img social-icon-img--default"
              src="assets/icons/social/mail_default.svg"
              alt="Mail"
            />
            <img
              class="social-icon-img social-icon-img--hover"
              src="assets/icons/social/mail_hover_blue.svg"
              alt="Mail Hover"
            />
          </a>
          <a class="social-icon github" href="#">
            <img
              class="social-icon-img social-icon-img--default"
              src="assets/icons/social/github_default.svg"
              alt="GitHub"
            />
            <img
              class="social-icon-img social-icon-img--hover"
              src="assets/icons/social/github_hover_blue.svg"
              alt="GitHub Hover"
            />
          </a>
          <a
            class="social-icon linkedin"
            href="https://www.linkedin.com/in/marcel-s%C3%B6rensen-08b31836b/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <img
              class="social-icon-img social-icon-img--default"
              src="assets/icons/social/linkedin_default.svg"
              alt="LinkedIn"
            />
            <img
              class="social-icon-img social-icon-img--hover"
              src="assets/icons/social/linkedin_hover_blue.svg"
              alt="LinkedIn Hover"
            />
          </a>
        </div>
      </div>
      <h1 class="font-anta">Marcel Sörensen</h1>
      <h2 class="font-josefin">FRONTEND DEVELOPER</h2>
      <a class="arrow-down" aria-label="Scroll down" href="#whyMeSection">
        <img
          class="arrow-down-img arrow-down-img--default"
          src="assets/icons/actions/arrow_down.png"
          alt="Arrow down"
        />
        <img
          class="arrow-down-img arrow-down-img--hover"
          src="assets/icons/actions/arrow_down_hover.png"
          alt="Arrow down hover"
        />
      </a>
    </div>
  </div>
</section>
