section {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(40, 46, 51, 1);
}

h1,
h2,
h4,
h5 {
  color: rgba(248, 245, 237, 1);
  margin: 0;
  cursor: default;
  white-space: nowrap;
}

.heroContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: clamp(8px, 4vw, 60px);
  height: auto;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -95px;
}

.heroImageContainer {
  margin-top: clamp(160px, 8vw, 120px);
  margin-left: 6%;
  position: relative;
  width: clamp(240px, 60vw, 580px);
  max-width: 580px;
  display: flex;
  align-items: flex-end;

  .portraitBackground {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    display: block;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: opacity 200ms ease-in-out;
    
  }

  .portraitBackground--default {
    opacity: 1;
    z-index: 1;
  }

  .portraitBackground--hover {
    opacity: 0;
    z-index: 2;
  }

  &:hover {
    .portraitBackground--default {
      opacity: 0;
    }

    .portraitBackground--hover {
      opacity: 1;
    }
  }
}

.portraitImage {
  width: 95%;
  height: auto;
  display: block;
  z-index: 3;
  position: relative;
  top: -80px;
  filter: brightness(1.2);
  filter: drop-shadow(8px 32px 16px rgba(40, 46, 51, 0.5));
}

.heroIntroContainer {
  margin-top: clamp(0px, 8vw, 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 6%;
  > h1 {
    margin-top: 2rem;
    font-weight: 400;
    font-size: clamp(2.2rem, 6vw, 5.5rem);
  }
  > h2 {
    font-weight: 300;
    font-size: clamp(1.2rem, 3vw, 2.5rem);
  }
  .arrowDown {
    margin-top: clamp(0px, 12vw, 200px);
    bottom: 3.5vw;
    position: relative;
    width: 38px;
    height: 89px;
    cursor: pointer;

    .arrowDown__img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: opacity 150ms ease-in-out;
    }

    .arrowDown__img--default {
      opacity: 1;
    }

    .arrowDown__img--hover {
      opacity: 0;
    }

    &:hover {
      .arrowDown__img--default {
        opacity: 0;
      }

      .arrowDown__img--hover {
        opacity: 1;
      }
    }
  }
}

.heroIntroFirstRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .heroFreeSpace {
    width: 30px;
  }
  .heroLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;

    .imgContainer {
      position: relative;
      display: inline-block;
      > img {
        position: relative;
        z-index: 1;
        height: 38px;
        width: 58px;
        object-fit: contain;
        transition: transform 200ms ease-in-out;
        &:hover {
        transform: scaleX(1.2);
      }
      }

      .curly_braces_logo {
        position: absolute;
        top: -2px;
        bottom: 0;
        left: 50%;
        width: 60%;
        transform: translateX(-50%);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
      }
    }

    > h4 {
      font-weight: smaller;
      font-size: 1.15em;
      scale: scaleY(2);
    }
    > h5 {
      font-weight: 100;
      font-size: 1.2em;
      color: rgba(148, 187, 214, 1);
    }
  }
  .heroSocials {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(8px, 1vw, 20px);

  }
}

.socialIcon {
  transition: opacity 150ms ease;
  cursor: pointer;
}

.socialIcon.mail:hover {
  content: url('/assets/icons/social/mail_hover_blue.png');
}
.socialIcon.github:hover {
  content: url('/assets/icons/social/github_hover_blue.png');
}
.socialIcon.linkedin:hover {
  content: url('/assets/icons/social/linkedin_hover_blue.png');
}
