<div class="colleagues-feedback" *transloco="let translate">
  <span class="colleagues-title">
    <h2 class="colleagues-title1 font-josefin">
      {{ translate("colleagueFeedback.title") }}
    </h2>
    <h2 class="colleagues-title2 font-josefin">
      {{ translate("colleagueFeedback.title2") }}
    </h2>
  </span>

  <div class="feedback-cards-wrapper" style="position: relative; width: 100%;">
    <div
      class="feedback-cards"
      [attr.aria-label]="translate('colleagueFeedback.ariaLabel')"
      #scrollContainer
    >
      <div class="feedback-card" *ngFor="let feedback of colleagueFeedbacks">
      <img
        class="feedback-card-background feedback-card-background--default"
        [src]="feedback.backgroundDefaultSrc"
        alt=""
        aria-hidden="true"
      />
      <img
        class="feedback-card-background feedback-card-background--hover"
        [src]="feedback.backgroundHoverSrc"
        alt=""
        aria-hidden="true"
      />

      <div class="feedback-card-content font-josefin">
        <div class="feedback-card-name">{{ translate(feedback.nameKey) }}</div>
        <div class="feedback-card-project">
          <span class="feedback-card-project-value">{{
            translate(feedback.projectKey)
          }}</span>
        </div>
        <div class="feedback-card-quote">
          “{{ translate(feedback.quoteKey) }}”
        </div>
        
      </div>
    </div>
    </div>
    <div class="scroll-indicator left" *ngIf="showLeftScrollIndicator"></div>
    <div class="scroll-indicator right" *ngIf="showRightScrollIndicator"></div>
  </div>
</div>
