<footer *transloco="let translate">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-left font-josefin">
        <a href="/legal-notice#legalNoticeSection">{{
          translate("footer.legalNotice")
        }}</a>
        <p>&copy; Marcel Sörensen 2026</p>
      </div>

      <app-profile-logo></app-profile-logo>

      <div class="footer-socials">
        <a class="social-icon mail" href="#contactSection">
          <img
            class="social-icon-img social-icon-img--default"
            src="assets/icons/social/mail_dark.svg"
            alt="Mail"
          />
          <img
            class="social-icon-img social-icon-img--hover"
            src="assets/icons/social/mail_white.svg"
            alt="Mail Hover"
          />
        </a>
        <a class="social-icon github" href="#">
          <img
            class="social-icon-img social-icon-img--default"
            src="assets/icons/social/github_dark.svg"
            alt="GitHub"
          />
          <img
            class="social-icon-img social-icon-img--hover"
            src="assets/icons/social/github_white.svg"
            alt="GitHub Hover"
          />
        </a>
        <a
          class="social-icon linkedin"
          href="https://www.linkedin.com/in/marcel-s%C3%B6rensen-08b31836b/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
        >
          <img
            class="social-icon-img social-icon-img--default"
            src="assets/icons/social/linkedin_dark.svg"
            alt="LinkedIn"
          />
          <img
            class="social-icon-img social-icon-img--hover"
            src="assets/icons/social/linkedin_white.svg"
            alt="LinkedIn Hover"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
