<footer class="footer" *transloco="let translate">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__left font-josefin">
        <div class="footer__links">
          <button
            class="footer__link font-josefin"
            type="button"
            (click)="navigateToLegal()"
          >
            {{ translate("footer.legalNotice") }}
          </button>
          &nbsp;|&nbsp;
          <button
            class="footer__link font-josefin"
            type="button"
            (click)="navigateToPrivacy()"
          >
            {{ translate("footer.privacyPolicy") }}
          </button>
        </div>
        <p class="footer__copyright">&copy; Marcel Sörensen 2026</p>
      </div>

      <app-profile-logo class="footer__logo"></app-profile-logo>

      <div class="social social--desktop">
        <a class="social__item social__item--mail" (click)="goToContact()" tabindex="0">
          <img
            class="social__img social__img--default"
            src="assets/icons/social/mail_dark.svg"
            alt="Mail"
          />
          <img
            class="social__img social__img--hover"
            src="assets/icons/social/mail_white.svg"
            alt="Mail Hover"
          />
        </a>
        <a
          class="social__item social__item--github"
          href="https://github.com/MarcelSoerensen"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="social__img social__img--default"
            src="assets/icons/social/github_dark.svg"
            alt="GitHub"
          />
          <img
            class="social__img social__img--hover"
            src="assets/icons/social/github_white.svg"
            alt="GitHub Hover"
          />
        </a>
        <a
          class="social__item social__item--linkedin"
          href="https://www.linkedin.com/in/marcel-s%C3%B6rensen-08b31836b/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
        >
          <img
            class="social__img social__img--default"
            src="assets/icons/social/linkedin_dark.svg"
            alt="LinkedIn"
          />
          <img
            class="social__img social__img--hover"
            src="assets/icons/social/linkedin_white.svg"
            alt="LinkedIn Hover"
          />
        </a>
      </div>

      <div class="social social--mobile">
        <a class="social__item social__item--mail" href="#contactSection">
          <img
            class="social__img social__img--default"
            src="assets/icons/social/mail_mobile.svg"
            alt="Mail"
          />
          <img
            class="social__img social__img--hover"
            src="assets/icons/social/mail_dark.svg"
            alt="Mail Hover"
          />
        </a>
        <a
          class="social__item social__item--github"
          href="https://github.com/MarcelSoerensen"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="social__img social__img--default"
            src="assets/icons/social/github_mobile.svg"
            alt="GitHub"
          />
          <img
            class="social__img social__img--hover"
            src="assets/icons/social/github_dark.svg"
            alt="GitHub Hover"
          />
        </a>
        <a
          class="social__item social__item--linkedin"
          href="https://www.linkedin.com/in/marcel-s%C3%B6rensen-08b31836b/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
        >
          <img
            class="social__img social__img--default"
            src="assets/icons/social/linkedin_mobile.svg"
            alt="LinkedIn"
          />
          <img
            class="social__img social__img--hover"
            src="assets/icons/social/linkedin_dark.svg"
            alt="LinkedIn Hover"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
