<footer *transloco="let translate">
  <div class="footer-content">
    <div class="footer-left font-josefin">
      <a href="/legal-notice#legalNoticeSection">{{ translate('footer.legalNotice') }}</a>
      <p>&copy; Marcel Sörensen 2026</p>
    </div>

    <app-profile-logo></app-profile-logo>

    <div class="footer-socials">
      <div class="social-icon mail">
        <img
          class="social-icon-img social-icon-img--default"
          src="assets/icons/social/mail_dark.png"
          alt="Mail"
        />
        <img
          class="social-icon-img social-icon-img--hover"
          src="assets/icons/social/mail_white.png"
          alt="Mail Hover"
        />
      </div>
      <div class="social-icon github">
        <img
          class="social-icon-img social-icon-img--default"
          src="assets/icons/social/github_dark.png"
          alt="GitHub"
        />
        <img
          class="social-icon-img social-icon-img--hover"
          src="assets/icons/social/github_white.png"
          alt="GitHub Hover"
        />
      </div>
      <a
        class="social-icon linkedin"
        href="https://www.linkedin.com/in/marcel-s%C3%B6rensen-08b31836b/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        <img
          class="social-icon-img social-icon-img--default"
          src="assets/icons/social/linkedin_dark.png"
          alt="LinkedIn"
        />
        <img
          class="social-icon-img social-icon-img--hover"
          src="assets/icons/social/linkedin_white.png"
          alt="LinkedIn Hover"
        />
      </a>
    </div>
  </div>
</footer>
