section {
  width: 100%;
  margin: 0;
  background-color: rgba(40, 46, 51, 1);
  scroll-margin-top: 136px;
}

.contact-container {
    max-width: 1440px;
    margin-left: 6%;
    margin-right: 6%;
}

.contact-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    >.freespace {
        width: clamp(24px, 3.5vw, 38px);
    }
}

.arrow-up {
    position: relative;
    width: clamp(24px, 3.5vw, 38px);
    height: clamp(40px, 10vw, 89px);
    cursor: pointer;

    >.arrow-up-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: opacity 150ms ease-in-out;
    }

    >.arrow-up-img--default {
      opacity: 1;
    }

    > .arrow-up-img--hover {
      opacity: 0;
    }

    &:hover {
      .arrow-up-img--default {
        opacity: 0;
      }

      .arrow-up-img--hover {
        opacity: 1;
      }
    }
    
    &:active {
      .arrow-up-img--default {
        opacity: 1;
      }

      .arrow-up-img--hover {
        opacity: 0;
      }
    }
  }

