section {
  width: 100%;
  margin: 0;
  background-color: rgba(40, 46, 51, 1);
  scroll-margin-top: 136px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
}

.contact-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 6%;
  margin-right: 6%;
  > .freespace {
    width: clamp(24px, 3.5vw, 38px);
  }
}

.arrow-up {
  position: relative;
  width: clamp(24px, 3.5vw, 38px);
  height: clamp(40px, 10vw, 89px);
  cursor: pointer;

  > .arrow-up-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 150ms ease-in-out;
  }

  > .arrow-up-img--default {
    opacity: 1;
  }

  > .arrow-up-img--hover {
    opacity: 0;
  }

  &:hover {
    .arrow-up-img--default {
      opacity: 0;
    }

    .arrow-up-img--hover {
      opacity: 1;
    }
  }

  &:active {
    .arrow-up-img--default {
      opacity: 1;
    }

    .arrow-up-img--hover {
      opacity: 0;
    }
  }
}

.contact-intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  color: rgba(235, 237, 234, 1);
  margin-left: 15%;
  margin-right: 15%;

  > .contact-intro-text {
    width: 50%;
    font-size: 20px;
    font-weight: 300;
    > p {
      margin: 0 0 16px 0;
    }
  }

  > .contact-methods {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;

    .contact-method-icon {
      position: relative;
      width: 32px;
      height: 32px;
      flex: 0 0 32px;
    }

    .contact-method-icon-img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      pointer-events: none;
      transition: opacity 150ms ease;
    }

    .contact-method-icon-img--default {
      opacity: 1;
    }

    .contact-method-icon-img--hover {
      opacity: 0;
    }

    .contact-method-text {
      line-height: 1.2;
    }

    > .contact-method {
      font-size: 20px;
      font-weight: 300;

      > a {
        display: flex;
        align-items: center;
        gap: 16px;
        text-decoration: none;
        color: rgba(235, 237, 234, 1);
        cursor: pointer;
        transition: all 150ms ease;

        &:hover {
          color: rgb(148, 187, 214);

          .contact-method-icon-img--default {
            opacity: 0;
          }

          .contact-method-icon-img--hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.contact-form-fields {
  margin-left: 15%;
  margin-right: 15%;
  color: rgba(235, 237, 234, 1);

  > form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.contact-form-first-row {
  display: flex;
  gap: 16px;
}

.input-field-layout {
  display: flex;
  flex-direction: column;
  flex: 1;

  > label {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(148, 187, 214, 1);
  }

  > input,
  > textarea {
    width: 100%;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid rgba(148, 187, 214, 1);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(235, 237, 234, 1);
    box-sizing: border-box;
    outline: none;

    cursor: pointer;

    &::placeholder {
      color: rgba(235, 237, 234, 0.7);
    }
  }

  > input {
    height: 64px;
    &:focus {
      background-color: rgba(52, 63, 71, 1);
    }
  }

  > textarea {
    height: 164px;
    padding-top: 24px;
    resize: none;
    &:focus {
      background-color: rgba(52, 63, 71, 1);
    }
  }
}

.contact-form-third-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.contact-form-fourth-row {
  display: flex;
  justify-content: flex-end;
  margin-top: -32px;
}

.privacy-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
}

.privacy-checkbox-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.privacy-checkbox-custom {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.privacy-checkbox-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  position: absolute;
  left: 4px;
  top: 4px;
  transition: opacity 150ms;
  pointer-events: none;
}

.privacy-checkbox-img--default {
  opacity: 1;
}
.privacy-checkbox-img--checked {
  opacity: 0;
}

.privacy-checkbox-input:checked
  + .privacy-checkbox-custom
  .privacy-checkbox-img--default {
  opacity: 0;
}
.privacy-checkbox-input:checked
  + .privacy-checkbox-custom
  .privacy-checkbox-img--checked {
  opacity: 1;
}

.privacy-checkbox-text {
  font-size: 14px;
  color: rgba(235, 237, 234, 1);
  user-select: none;
}

.privacy-link {
  color: rgb(148, 187, 214);
  text-decoration: none;
  cursor: pointer;
  transition: color 150ms;

  &:hover {
    color: #fff;
  }
}
