<section id="contactSection">
  <div class="contact-container font-josefin">
    <div class="contact-first-row">
      <div class="freespace"></div>
      <h1>Contact me</h1>
      <a class="arrow-up" aria-label="Scroll up" href="#topSection">
        <img
          class="arrow-up-img arrow-up-img--default"
          src="assets/icons/actions/arrow_up.png"
          alt="Arrow up"
        />
        <img
          class="arrow-up-img arrow-up-img--hover"
          src="assets/icons/actions/arrow_up_hover.png"
          alt="Arrow up hover"
        />
      </a>
    </div>
    <div class="contact-intro">

    </div>
  </div>
</section>
