<section id="contactSection" *transloco="let translate">
  <div class="contact-container font-josefin">
    <div class="contact-first-row">
      <div class="freespace"></div>
      <h1 class="font-anta">{{ translate("contactMe.title") }}</h1>

      <div class="arrow-up--desktop">
        <a class="arrow-up" aria-label="Scroll up" href="#topSection">
          <img
            class="arrow-up-img"
            src="assets/icons/actions/arrow_up.svg"
            alt="Arrow up"
          />
        </a>
      </div>
    </div>
    <div class="contact-intro">
      <div class="contact-intro-text">
        <p>
          {{ translate("contactMe.intro") }}
        </p>
      </div>
      <div class="contact-methods">
        <div class="contact-method contact-method--mail">
          <a href="mailto:contact@marcel-soerensen.com">
            <span class="contact-method-icon" aria-hidden="true">
              <img
                class="contact-method-icon-img contact-method-icon-img--default"
                src="assets/icons/social/email_default.svg"
                alt=""
              />
              <img
                class="contact-method-icon-img contact-method-icon-img--hover"
                src="assets/icons/social/email_hover.svg"
                alt=""
              />
            </span>
            <span class="contact-method-text">
              {{ translate("contactMe.mail") }}
            </span>
          </a>
        </div>
        <div class="contact-method contact-method--phone">
          <a href="tel:+49123456789">
            <span class="contact-method-icon" aria-hidden="true">
              <img
                class="contact-method-icon-img contact-method-icon-img--default"
                src="assets/icons/social/phone_default.svg"
                alt=""
              />
              <img
                class="contact-method-icon-img contact-method-icon-img--hover"
                src="assets/icons/social/phone_hover.svg"
                alt=""
              />
            </span>
            <span class="contact-method-text">
              {{ translate("contactMe.phone") }}
            </span>
          </a>
        </div>
      </div>
    </div>

    <span class="work-together">{{ translate("contactMe.together") }}</span>

    <app-contact-form></app-contact-form>
    <div class="arrow-up--mobile">
      <a class="arrow-up" aria-label="Scroll up" href="#topSection">
        <img
          class="arrow-up-img"
          src="assets/icons/actions/arrow_up.svg"
          alt="Arrow up"
        />
      </a>
    </div>
  </div>
</section>
