<section id="contactSection">
  <div class="contact-container font-josefin">
    <div class="contact-first-row">
      <div class="freespace"></div>
      <h1 class="font-anta">Contact me</h1>
      <a class="arrow-up" aria-label="Scroll up" href="#topSection">
        <img
          class="arrow-up-img arrow-up-img--default"
          src="assets/icons/actions/arrow_up.png"
          alt="Arrow up"
        />
        <img
          class="arrow-up-img arrow-up-img--hover"
          src="assets/icons/actions/arrow_up_hover.png"
          alt="Arrow up hover"
        />
      </a>
    </div>
    <div class="contact-intro">
      <div class="contact-intro-text">
        <p>
          I’m happy to connect about job offers and exciting project
          opportunities. I work collaboratively, with a high level of accuracy
          and a clear goal-oriented mindset, and I have a strong eye for clean,
          aesthetic, user-friendly interfaces. I’m highly motivated and
          continuously improving — feel free to reach out via email or phone
        </p>
      </div>
      <div class="contact-methods">
        <div class="contact-method contact-method--mail">
          <a href="mailto:marcel.soerensen@icloud.com">
            <span class="contact-method-icon" aria-hidden="true">
              <img
                class="contact-method-icon-img contact-method-icon-img--default"
                src="assets/icons/social/email_default.png"
                alt=""
              />
              <img
                class="contact-method-icon-img contact-method-icon-img--hover"
                src="assets/icons/social/email_hover.png"
                alt=""
              />
            </span>
            <span class="contact-method-text"
              >E-mail: marcel.soerensen&#64;icloud.com</span
            >
          </a>
        </div>
        <div class="contact-method contact-method--phone">
          <a href="tel:+49123456789">
            <span class="contact-method-icon" aria-hidden="true">
              <img
                class="contact-method-icon-img contact-method-icon-img--default"
                src="assets/icons/social/phone_default.png"
                alt=""
              />
              <img
                class="contact-method-icon-img contact-method-icon-img--hover"
                src="assets/icons/social/phone_hover.png"
                alt=""
              />
            </span>
            <span class="contact-method-text">Phone: +49 176 310 55 989</span>
          </a>
        </div>
      </div>
    </div>

      <app-contact-form></app-contact-form>
    
  </div>
</section>
