section {
  width: 100%;
  height: 500%;
  margin: 0;
  background-color: rgba(40, 46, 51, 1);
  scroll-margin-top: 136px;
}

.myProjectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 104px;
  max-width: 1440px;
  gap: clamp(20px, 3vw, 50px);
  margin-left: auto;
  margin-right: auto;

}


