<section id="whyMeSection">
  <div class="whyMeContainer">
    <h1 class="fontAnta">Why Me?</h1>
    <div class="whyMeContent">
      <div class="myLocation">
        <img src="/assets/icons/location.png" alt="" />
        <p class="iAm fontJosefin">I am</p>
        <p class="fontJosefin">located in Berlin..|</p>
      </div>
      <div class="myDescription">
        <p class="fontJosefin">
          I am a passionate frontend developer with a strong focus on creating
          engaging and user-friendly web applications. With a keen eye for
          design and a commitment to clean, efficient code, I strive to deliver
          exceptional digital experiences that meet both user needs and business
          goals.
        </p>
      </div>
    </div>
  </div>
</section>
