section {
  width: 100%;
  margin: 0;
  background-color: rgba(40, 46, 51, 1);
  scroll-margin-top: 32px;
}

a {
  text-decoration: none;
}

.why-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 104px;
  padding-bottom: 104px;
  max-width: 1440px;
  gap: clamp(20px, 3vw, 50px);
  margin-left: auto;
  margin-right: auto;

  > .why-me-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 32px;

    > .my-location {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;
      > img {
        width: 74px;
        height: 63px;
      }
      > p {
        white-space: nowrap;
        font-size: 30px;
        margin: 0;
        color: rgba(248, 245, 237, 1);
      }
      > .i-am {
        color: rgba(148, 187, 214, 1);
      }
    }

    > .my-description {
      width: 50%;
      > p {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        color: rgba(248, 245, 237, 1);
        text-align: left;
      }
      > .button-container {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
