<section id="whyMeSection" *transloco="let translate">
  <div class="whyMeContainer">
    <h1 class="fontAnta">{{ translate('whyMe.title') }}</h1>
    <div class="whyMeContent">
      <div class="myLocation">
        <img src="/assets/icons/location.png" alt="" />
        <p class="iAm fontJosefin">{{ translate('whyMe.iAm') }}</p>
        <p class="fontJosefin">{{ translate('whyMe.location') }}</p>
      </div>
      <div class="myDescription">
        <p class="fontJosefin">{{ translate('whyMe.description') }}</p>
      </div>
    </div>
  </div>
</section>
