<nav>
  <div class="navContent">
    <a href="#topSection" (click)="activeSection = ''" class="heroLogo">
      <div class="imgContainer">
        <img src="assets/icons/logo_vector_dark.svg" alt="" />
        <div class="curly_braces_logo">
          <img src="assets/icons/left_curly_brace.svg" alt="" />
          <img src="assets/icons/right_curly_brace.svg" alt="" />
        </div>
      </div>
      <h4 class="fontAnta">M.Sörensen</h4>
      <h5 class="fontJosefin">developer</h5>
    </a>
    <div class="navLinks">
      <a
        class="navLink fontJosefin"
        [ngClass]="{ active: activeSection === 'whyme' }"
        (click)="setActiveSection('whyme')"
        href="#whyMeSection"
        >Why me</a
      >
      <a
        class="navLink fontJosefin"
        [ngClass]="{ active: activeSection === 'skills' }"
        (click)="setActiveSection('skills')"
        href="#skillsSection"
        >Skills</a
      >
      <a
        class="navLink fontJosefin"
        [ngClass]="{ active: activeSection === 'projects' }"
        (click)="setActiveSection('projects')"
        href="#projectsSection"
        >Projects</a
      >
      <a
        class="navLink fontJosefin"
        [ngClass]="{ active: activeSection === 'contact' }"
        (click)="setActiveSection('contact')"
        href="#contactSection"
        >Contact</a
      >
    </div>
    <div class="languages">
      <span
        class="language fontJosefin"
        [ngClass]="{ active: selectedLanguage === 'de' }"
        (click)="setLanguage('de')"
      >
        DE</span
      >
      <span
        class="language fontJosefin"
        [ngClass]="{ active: selectedLanguage === 'en' }"
        (click)="setLanguage('en')"
        >EN</span
      >
    </div>
  </div>
</nav>
