<nav *transloco="let translate">
  <div class="navContent">
    <app-profile-logo></app-profile-logo>
    <div class="navLinks">
      <a
        class="navLink fontJosefin"
        [ngClass]="{ active: activeSection === 'whyme' }"
        (click)="setActiveSection('whyme')"
        href="#whyMeSection"
        >{{ translate('navbar.whyMe') }}</a
      >
      <a
        class="navLink fontJosefin"
        [ngClass]="{ active: activeSection === 'skills' }"
        (click)="setActiveSection('skills')"
        href="#skillsSection"
        >{{ translate('navbar.skills') }}</a
      >
      <a
        class="navLink fontJosefin"
        [ngClass]="{ active: activeSection === 'projects' }"
        (click)="setActiveSection('projects')"
        href="#myProjectsSection"
        >{{ translate('navbar.projects') }}</a
      >
      <a
        class="navLink fontJosefin"
        [ngClass]="{ active: activeSection === 'contact' }"
        (click)="setActiveSection('contact')"
        href="#contactSection"
        >{{ translate('navbar.contact') }}</a
      >
    </div>
    <div class="languages">
      <span
        class="language fontJosefin"
        [ngClass]="{ active: selectedLanguage === 'de' }"
        (click)="setLanguage('de')"
      >
        DE</span
      >
      <span
        class="language fontJosefin"
        [ngClass]="{ active: selectedLanguage === 'en' }"
        (click)="setLanguage('en')"
        >EN</span
      >
    </div>
  </div>
</nav>
