<section id="privacyPoliceSection">
  <div class="legal-container">
    <div class="legal-content font-josefin" *transloco="let translate">
      <h1>{{ translate('privacyPolice.title') }}</h1>
      <br />
      <h2>{{ translate('privacyPolice.responsibleTitle') }}</h2>
      <ul>
        <li>Marcel Sörensen</li>
        <li>Schloßallee 45</li>
        <li>13156 Berlin</li>
        <li>
        E-Mail:
        <a href="mailto:contact@marcel-soerensen.com">
          contact&#64;marcel-soerensen.com
        </a>
      </li>
        <li>{{ translate('privacyPolice.phoneLabel') }}
          <a href="tel:+4917631055989">
            +49 176 31055989
          </a>
        </li>
      </ul>
      <br />
      <h2>{{ translate('privacyPolice.rightsTitle') }}</h2>
      <ul>
        <li>{{ translate('privacyPolice.right1') }}</li>
        <li>{{ translate('privacyPolice.right2') }}</li>
        <li>{{ translate('privacyPolice.right3') }}</li>
        <li>{{ translate('privacyPolice.right4') }}</li>
        <li>{{ translate('privacyPolice.right5') }}</li>
        <li>{{ translate('privacyPolice.right6') }}</li>
      </ul>
      <p>{{ translate('privacyPolice.withdrawal') }}</p>
      <p>{{ translate('privacyPolice.authority') }}</p>
      <br />
      <h2>{{ translate('privacyPolice.processingTitle') }}</h2>
      <h3>{{ translate('privacyPolice.logfilesTitle') }}</h3>
      <ul>
        <li>{{ translate('privacyPolice.logfile1') }}</li>
        <li>{{ translate('privacyPolice.logfile2') }}</li>
        <li>{{ translate('privacyPolice.logfile3') }}</li>
        <li>{{ translate('privacyPolice.logfile4') }}</li>
      </ul>
      <p>{{ translate('privacyPolice.logfilesDuration') }}</p>
      <br />
      <h3>{{ translate('privacyPolice.contactTitle') }}</h3>
      <ul>
        <li>{{ translate('privacyPolice.contact1') }}</li>
        <li>{{ translate('privacyPolice.contact2') }}</li>
      </ul>
      <br />
      <h2>{{ translate('privacyPolice.objectionTitle') }}</h2>
      <p>{{ translate('privacyPolice.objectionText') }}</p>
      <ul>
        <li>
          {{ translate('privacyPolice.objectionContact') }}
          E-Mail:
          <a href="mailto:contact@marcel-soerensen.com">contact&#64;marcel-soerensen.com</a>
          {{ translate('privacyPolice.phoneLabel') }}
          <a href="tel:+4917631055989">+49 176 31055989</a>
        </li>
      </ul>
      <br />
      <h2>{{ translate('privacyPolice.questionsTitle') }}</h2>
      <p>{{ translate('privacyPolice.questionsText') }}</p>
      <br />
      <p>{{ translate('privacyPolice.footer') }}</p>
      <app-back-to-home-button></app-back-to-home-button>
    </div>
  </div>
</section>
