section {
  width: 100%;
  margin: 0;
  background-color: rgba(40, 46, 51, 1);
  scroll-margin-top: 136px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding-bottom: 104px;
  max-width: 1440px;
  gap: clamp(20px, 3vw, 50px);
  margin-left: auto;
  margin-right: auto;
}

.skills-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  gap: 32px;
}

.current-skills {
  width: 45%;
  max-width: 300px;
  height: 404px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2%;
  margin-left: 13%;
  gap: clamp(10px, 3vw, 40px);
  > img {
    width: auto;
    height: 100px;
  }
  >.current-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: clamp(15px, 13vw, 60px);
    gap: 16px;
    >img {
      max-width: auto;
      height: 100%;
    }
    > p {
      font-size: 16px;
      font-weight: 300;
      margin: 0;
      word-wrap: break-word;
      color: rgba(148, 187, 214, 1);
    }
  
  }
  
}

.currently-learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 380px;
  width: 380px;
  gap: 6%;
  margin-right: 13%;

  > p {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color: rgba(248, 245, 237, 1);
    text-align: center;
    width: 70%;
  }

  > .currently-learning-title {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 12px 0;
    color: rgba(248, 245, 237, 1);
    text-align: center;
    width: 100%;
    z-index: 3;
    position: relative;
  }

  > .currently-learning-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
    gap: 16px;
    width: 80%;
    z-index: 3;
    position: relative;

    > .currently-learning-symbols {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .currently-learning-symbol {
        > p {
          margin-top: 4px;
          font-size: 14px;
          font-weight: 300;
          text-align: center;
          color: rgba(248, 245, 237, 1);
        }
        > img {
          width: auto;
          height: 32px;
        }
      }
    }

    > .currently-learning-description {
      font-size: 16px;
      font-weight: 300;
      margin: 0;
      color: rgba(248, 245, 237, 1);
      text-align: center;
      width: 100%;
    }
  }
}

.currently-learning-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1;
}
.currently-learning-background--default {
  opacity: 1;
  z-index: 1;
}
.currently-learning-background--hover {
  opacity: 0;
  z-index: 2;
}

.currently-learning:hover {
  > .currently-learning-background--default {
    opacity: 0;
  }
  > .currently-learning-background--hover {
    opacity: 1;
  }
}

