<section id="skillsSection" *transloco="let translate">
  <div class="skills-container">
    <h1 class="font-anta">{{ translate('skills.title') }}</h1>
    <div class="skills-content">
      <div class="current-skills">
          <div class="current-skill font-josefin"*ngFor="let skill of skills">
           <img [src]="skill.icon" [alt]="skill.label" />
           <p>{{ skill.label }}</p>
          </div>
      </div>
      <div class="currently-learning font-josefin">
        <img
          class="currently-learning-background currently-learning-background--default"
          src="/assets/backgrounds/bg_skill_default.svg"
          alt=""
          aria-hidden="true"
        />
        <img
          class="currently-learning-background currently-learning-background--hover"
          src="/assets/backgrounds/bg_skill_hover.svg"
          alt=""
          aria-hidden="true"
        />
        <p class="currently-learning-title">{{ translate('skills.currentlyLearning') }}</p>
        <div class="currently-learning-content">
          <p class="currently-learning-description">{{ translate('skills.description') }}</p>
          <div class="currently-learning-symbols">
            <div class="currently-learning-symbol font-josefin">
              <img src="/assets/icons/skills/python.svg" alt="" />
              <p>Python</p>
            </div>
            <div class="currently-learning-symbol font-josefin">
              <img src="/assets/icons/skills/django.svg" alt="" />
              <p>Django</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="skills-button-container">
          <a href="#contactSection">
            <button class="font-josefin base-button base-button-filled">
              {{ translate('whyMe.letsTalk') }}
            </button>
          </a>
        </div>
  </div>
</section>
