<section id="skillsSection">
  <div class="skillsContainer">
    <h1 class="fontAnta">Skills</h1>
    <div class="skillsContent">
      <div class="currentSkills">
        <img src="/assets/icons/skills/angular_skill.png" alt="" />
        <img src="/assets/icons/skills/typescript_skill.png" alt="" />
        <img src="/assets/icons/skills/javascript_skill.png" alt="" />
        <img src="/assets/icons/skills/html_skill.png" alt="" />
        <img src="/assets/icons/skills/css_skill.png" alt="" />
        <img src="/assets/icons/skills/api_skill.png" alt="" />
        <img src="/assets/icons/skills/firebase_skill.png" alt="" />
        <img src="/assets/icons/skills/git_skill.png" alt="" />
        <img src="/assets/icons/skills/materialdesign_skill.png" alt="" />
        <img src="/assets/icons/skills/scrum_skill.png" alt="" />
      </div>
      <div class="currentlyLearning fontJosefin">
        <p >I am currently learning</p>
      </div>
    </div>
  </div>
</section>
