section {
  width: 100%;
  height: 500%;
  margin: 0;
  background-color: rgba(40, 46, 51, 1);
  scroll-margin-top: 136px;
}

h1 {
  color: rgba(148, 187, 214, 1);
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 52px;
  font-weight: 400;
  cursor: default;
  white-space: nowrap;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding-bottom: 104px;
  max-width: 1440px;
  gap: clamp(20px, 3vw, 50px);
  margin-left: auto;
  margin-right: auto;

  > .skillsContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    gap: 32px;

    > .currentSkills {
      width: 409px;
      height: 404px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      margin-left: 15%;
      > img {
        width: auto;
        height: 100px;
      }
    }

    > .currentlyLearning {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("/assets/backgrounds/bg_skill_default.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
      height: 380px;
      width: 380px;
      gap: 6%;
      margin-right: 15%;
      > p {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        color: rgba(248, 245, 237, 1);
        text-align: center;
        width: 70%;
      }
      > .currentlyLearningSymbols {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        > .currentlyLearningSymbol {
          > img {
            width: auto;
            height: 32px;
          }
          > p {
            margin: 0;
            color: rgba(248, 245, 237, 1);
            font-size: 14px;
            font-weight: 300;
            text-align: center;
          }
        }
      }
    }
  }
}
