section {
  width: 100%;
  margin: 0;
  background-color: rgba(40, 46, 51, 1);
  scroll-margin-top: 136px;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding-bottom: 104px;
  max-width: 1440px;
  gap: clamp(20px, 3vw, 50px);
  margin-left: auto;
  margin-right: auto;

  > .skillsContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    gap: 32px;

    > .currentSkills {
      width: 409px;
      height: 404px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      margin-left: 15%;
      > img {
        width: auto;
        height: 100px;
      }
    }

    > .currentlyLearning {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 380px;
      width: 380px;
      gap: 6%;
      margin-right: 15%;

      > .currentlyLearningBackground {
        position: absolute;
        inset: 0;
        width: 100%;
        height: auto;
        display: block;
        pointer-events: none;
        transition: all 300ms ease-in-out;
      }

      > .currentlyLearningBackground--default {
        opacity: 1;
        z-index: 1;
      }

      > .currentlyLearningBackground--hover {
        opacity: 0;
        z-index: 2;
      }

      &:hover {
        > .currentlyLearningBackground--default {
          opacity: 0;
        }

        > .currentlyLearningBackground--hover {
          opacity: 1;
        }
      }

      > :not(.currentlyLearningBackground) {
        position: relative;
        z-index: 3;
      }

      > p {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
        color: rgba(248, 245, 237, 1);
        text-align: center;
        width: 70%;
      }
      > .currentlyLearningSymbols {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
        > .currentlyLearningSymbol {
          > img {
            width: auto;
            height: 32px;
          }
          > p {
            margin: 0;
            color: rgba(248, 245, 237, 1);
            font-size: 14px;
            font-weight: 300;
            text-align: center;
          }
        }
      }
    }
  }
}
