<section id="skillsSection" *transloco="let translate">
  <div class="skills-container">
    <h1 class="font-anta">{{ translate('skills.title') }}</h1>
    <div class="skills-content">
      <div class="current-skills">
        <img src="/assets/icons/skills/angular_skill.png" alt="" />
        <img src="/assets/icons/skills/typescript_skill.png" alt="" />
        <img src="/assets/icons/skills/javascript_skill.png" alt="" />
        <img src="/assets/icons/skills/html_skill.png" alt="" />
        <img src="/assets/icons/skills/css_skill.png" alt="" />
        <img src="/assets/icons/skills/api_skill.png" alt="" />
        <img src="/assets/icons/skills/firebase_skill.png" alt="" />
        <img src="/assets/icons/skills/git_skill.png" alt="" />
        <img src="/assets/icons/skills/materialdesign_skill.png" alt="" />
        <img src="/assets/icons/skills/scrum_skill.png" alt="" />
      </div>
      <div class="currently-learning font-josefin">
        <img
          class="currently-learning-background currently-learning-background--default"
          src="/assets/backgrounds/bg_skill_default.png"
          alt=""
          aria-hidden="true"
        />
        <img
          class="currently-learning-background currently-learning-background--hover"
          src="/assets/backgrounds/bg_skill_hover.png"
          alt=""
          aria-hidden="true"
        />
        <p>{{ translate('skills.currentlyLearning') }}</p>
        <div class="currently-learning-symbols">
          <div class="currently-learning-symbol font-josefin">
            <img src="/assets/icons/skills/python.png" alt="" />
            <p>Python</p>
          </div>
          <div class="currently-learning-symbol font-josefin">
            <img src="/assets/icons/skills/django.png" alt="" />
            <p>Django</p>
          </div>
        </div>
        <p>{{ translate('skills.description') }}</p>
      </div>
    </div>
  </div>
</section>
