<section id="legalNoticeSection" *transloco="let translate">
  <div class="legal-notice-content fontJosefin">
    <h1>{{ translate('legalNotice.title') }}</h1>
    <br>

    <h2>{{ translate('legalNotice.imprintTitle') }}</h2>
    <ul>
      <li>Marcel Sörensen</li>
      <li>Schloßallee 45 </li>
      <li>13156 Berlin</li>
    </ul>
    <br>

    <h2>{{ translate('legalNotice.exploringTitle') }}</h2>
    <p>{{ translate('legalNotice.emailLabel') }}: <a href="mailto:marcel.soerensen@icloud.com">marcel.soerensen&#64;icloud.com</a></p>
    <br>

    <h2>{{ translate('legalNotice.acceptanceTitle') }}</h2>
    <p>{{ translate('legalNotice.acceptanceText') }}</p>
    <br>

    <h2>{{ translate('legalNotice.scopeTitle') }}</h2>
    <p>{{ translate('legalNotice.scopeText1') }}</p>

    <p>{{ translate('legalNotice.scopeText2') }}</p>
    <br>

    <h2>{{ translate('legalNotice.rightsTitle') }}</h2>
    <p>{{ translate('legalNotice.rightsText') }}</p>
    <br>

    <h2>{{ translate('legalNotice.useTitle') }}</h2>
    <p>{{ translate('legalNotice.useText') }}</p>
    <br>

    <h2>{{ translate('legalNotice.disclaimerTitle') }}</h2>
    <p>{{ translate('legalNotice.disclaimerText') }}</p>
    <br>

    <h2>{{ translate('legalNotice.indemnityTitle') }}</h2>
    <p>{{ translate('legalNotice.indemnityText') }}</p>
    <p>{{ translate('legalNotice.questionsLine') }} <a href="mailto:marcel.soerensen@icloud.com">marcel.soerensen&#64;icloud.com</a>.</p>
    <br>
    <p>{{ translate('legalNotice.dateLine') }}</p>
  </div>
</section>
