section {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(40, 46, 51, 1);
  padding-top: 104px;
  padding-bottom: 104px;
  scroll-margin-top: 104px;
}

.legal-notice-content {
  max-width: 1440px;
  margin-left: 6%;
  margin-right: 6%;
}

h2 {
  color: rgba(156, 186, 211,1);
}

p,
li {
  color: rgba(235, 237, 234, 1);
  font-size: 20px;
  font-weight: 300;
}

a{
  color: rgba(156, 186, 211,1);;
  text-decoration: none;
  &:hover {
    color: rgba(156, 186, 211, 0.5);
  }
  &:active {
    color: rgba(156, 186, 211, 1);
  }
}

