.dropdown {
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: auto;
  }
  &__bg {
    transition: opacity 300ms ease;
    opacity: 1;
    &.dropdown__bg--fade-out {
      opacity: 0;
      pointer-events: none;
    }
    position: fixed;
    top: 16px;
    right: 16px;
    width: 353px;
    height: 376px;
    z-index: 2999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    filter: drop-shadow(0 8px 16px rgba(40, 46, 51, 0.4));
  }
  &__bg-img {
    height: auto;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    filter: drop-shadow(0 4px 16px rgba(40, 46, 51, 0.2));
  }
  &__logo-bg {
    position: fixed;
    top: 4px;
    left: 16px;
    z-index: 2000;
    background: rgba(41, 45, 51, 0.8);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 16px rgba(40, 46, 51, 0.18);
  }

  &__menu-btn {
    display: block;
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 3000;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
    > .dropdown__menu-icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      transition: opacity 150ms ease-in-out;
    }
    > .dropdown__menu-icon--default {
      opacity: 1;
      z-index: 1;
    }
    > .dropdown__menu-icon--hover {
      opacity: 0;
      z-index: 2;
    }
    &:hover > .dropdown__menu-icon--default {
      opacity: 0;
    }
    &:hover > .dropdown__menu-icon--hover {
      opacity: 1;
    }
    &--active > .dropdown__menu-icon--default {
      opacity: 1;
    }
    &--active > .dropdown__menu-icon--hover {
      opacity: 0;
    }
    &--active:hover > .dropdown__menu-icon--default {
      opacity: 0;
    }
    &--active:hover > .dropdown__menu-icon--hover {
      opacity: 1;
    }
  }
}

@media (min-width: 1000px) {
  .dropdown {
    display: none;
  }
}

@media (max-width: 450px) {
  .dropdown__bg {
    top: 50px !important;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
