.dropdown {
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: auto;
    }
  &__bg {
    position: fixed;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20vh;
    width: clamp(300px, 67vw, 85vw);
    max-width: 445px;
    min-width: 300px;
    z-index: 2999;
    filter: drop-shadow(0 8px 16px rgba(40, 46, 51, 0.4));
    transition: opacity 300ms ease;
    opacity: 1;
    &.dropdown__bg--fade-out {
      opacity: 0;
      pointer-events: none;
    }
  }
  &__bg-img {
    top: 0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    filter: drop-shadow(0 4px 16px rgba(40, 46, 51, 0.2));
  }
  &__logo-bg {
    position: fixed;
    top: 4px;
    left: 16px;
    z-index: 2000;
    background: rgba(41, 45, 51, 0.8);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 16px rgba(40, 46, 51, 0.18);
  }

  &__menu-btn {
    display: block;
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 3000;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
    .dropdown__menu-icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
      transition: opacity 150ms ease-in-out;
    }
    &:hover .dropdown__menu-icon {
      opacity: 0.6;
    }
  }
}

@media (min-width: 1000px) {
  .dropdown {
    display: none;
  }
}
