<a class="mobile-hero-logo" href="#topSection">
	<div class="img-container">
		<img src="/assets/icons/logo_vector.svg" alt="" />
		<div class="curly-braces-logo">
			<img src="/assets/icons/left_curly_brace.svg" alt="" />
			<img src="/assets/icons/right_curly_brace.svg" alt="" />
		</div>
	</div>
	<h4 class="font-anta">M.Sörensen</h4>
	<h5 class="font-josefin">developer</h5>
</a>
<button class="mobile-menu-btn" aria-label="Menü">
	<img class="menu-icon-img" src="/assets/icons/mobile/menu_default.png" alt="Menü öffnen" />
</button>
