<div class="contact-form-fields" *transloco="let translate">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="contact-form-first-row">
      <div class="input-field-layout">
        <label
          for="name"
          [class.input-error]="
            !name.valid && (name.touched || contactForm.submitted)
          "
        >
          {{
            !name.valid && (name.touched || contactForm.submitted)
              ? translate("contactForm.nameRequired")
              : translate("contactForm.nameLabel")
          }}
        </label>
        <div class="input-icon-wrapper">
          <input
            #name="ngModel"
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            required
            [class.input-error]="
              !name.valid && (name.touched || contactForm.submitted)
            "
          />
          <img
            class="done-icon"
            src="assets/icons/controls/done_.png"
            alt="done"
            [class.visible]="name.valid && contactData.name"
          />
        </div>
      </div>
      <div class="input-field-layout">
        <label
          for="email"
          [class.input-error]="
            !email.valid && (email.touched || contactForm.submitted)
          "
        >
          {{
            !email.valid && (email.touched || contactForm.submitted)
              ? !email.value
                ? translate("contactForm.emailRequired")
                : translate("contactForm.emailInvalid")
              : translate("contactForm.emailLabel")
          }}
        </label>
        <div class="input-icon-wrapper">
          <input
            #email="ngModel"
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            [class.input-error]="
              !email.valid && (email.touched || contactForm.submitted)
            "
          />
          <img
            class="done-icon"
            src="assets/icons/controls/done_.png"
            alt="done"
            [class.visible]="email.valid && contactData.email"
          />
        </div>
      </div>
    </div>
    <div class="contact-form-first-row">
      <div class="input-field-layout">
        <label
          for="message"
          [class.input-error]="
            !message.valid && (message.touched || contactForm.submitted)
          "
        >
          {{
            !message.valid && (message.touched || contactForm.submitted)
              ? translate("contactForm.messageRequired")
              : translate("contactForm.messageLabel")
          }}
        </label>
        <div class="input-icon-wrapper">
          <textarea
            #message="ngModel"
            [(ngModel)]="contactData.message"
            id="message"
            name="message"
            required
            [class.input-error]="
              !message.valid && (message.touched || contactForm.submitted)
            "
          ></textarea>
          <img
            class="done-icon"
            src="assets/icons/controls/done_.png"
            alt="done"
            [class.visible]="message.valid && contactData.message"
          />
        </div>
      </div>
    </div>
    <div class="contact-form-third-row">
      <label
        class="privacy-checkbox"
        [class.error]="privacyError && !contactData.privacyChecked"
      >
        <input
          [(ngModel)]="contactData.privacyChecked"
          name="privacyChecked"
          type="checkbox"
          class="privacy-checkbox-input"
          (change)="privacyError = false"
        />
        <span class="privacy-checkbox-custom">
          <img
            class="privacy-checkbox-img privacy-checkbox-img--default"
            src="assets/icons/controls/checkbox_default.svg"
            alt="Checkbox default"
          />
          <img
            class="privacy-checkbox-img privacy-checkbox-img--hover"
            src="assets/icons/controls/checkbox_hover.svg"
            alt="Checkbox hover"
          />
          <img
            class="privacy-checkbox-img privacy-checkbox-img--checked"
            src="assets/icons/controls/checkbox_checked.svg"
            alt="Checkbox checked"
          />
          <img
            class="privacy-checkbox-img privacy-checkbox-img--error"
            src="assets/icons/controls/checkbox_error.svg"
            alt="Checkbox error"
          />
        </span>
      </label>
      <div class="privacy-checkbox-text">
        <div>
          <span [innerHTML]="translate('contactForm.privacyTextLeft')"></span>
          <a href="#" class="privacy-link">
            {{ translate("contactForm.privacyLink") }}</a
          >
          <span [innerHTML]="translate('contactForm.privacyTextRight')"></span>
        </div>
        <label
          class="privacy-error-label"
          [class.input-error]="privacyError && !contactData.privacyChecked"
        >
          {{
            privacyError && !contactData.privacyChecked
              ? translate("contactForm.privacyRequired")
              : ""
          }}
        </label>
      </div>
    </div>
    <div class="contact-form-fourth-row">
      <button type="submit" class="base-button base-button-outline">
        {{ translate("contactForm.send") }}
      </button>
    </div>
  </form>
</div>
